<section class="accueil">
    <div class="accueil-image">
      <img class="image-accueil responsive-image" src="assets/surthemes.png" alt="Image d'accueil">
    </div>
  </section>
 
  
  <section class="accueil">
    <div class="grid-container">
      <a routerLink="/themes" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 1">
      </a>
      <a routerLink="/page2" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 2">
      </a>
      <a routerLink="/page3" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 3">
      </a>
      <a routerLink="/page4" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 4">
      </a>
    </div>