
<section class="accueil">
  <div class="accueil-image">
    <img class="image-accueil responsive-image" src="assets/naccueil.png" alt="Image d'accueil">
  </div>
</section>
<section class="video-section">
  <video #videoPlayer controls width="50%" height="auto">
      <source src="assets/it.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<br>

<!--
<section>
  <img src="assets/somme2.png" alt="somme" class="image-responsive">
</section> 
<ul>
  <li *ngFor="let specialite of specialites">{{ specialite.nom }}</li>
</ul>


<br>
<br>

-->

<br>
<br>

<p class="nos-themes">Nos thèmes</p>


<section class="accueil">
  <div class="grid-container">
    <a routerLink="/surthemes" class="grid-item">
      <img src="assets/domaine11.png" alt="Image 1">
    </a>
    <a routerLink="/page2" class="grid-item">
      <img src="assets/domaine11.png" alt="Image 2">
    </a>
    <a routerLink="/page3" class="grid-item">
      <img src="assets/domaine11.png" alt="Image 3">
    </a>
    <a routerLink="/page4" class="grid-item">
      <img src="assets/domaine11.png" alt="Image 4">
    </a>
  </div>

</section>


<div class="testimonials">




  <div class="testimonials-container"> <!-- Nouveau conteneur ajouté -->
    <div style="color: white;">
      <h2 style="font-size: 24px;">Ce que disent nos stagiaires :</h2>
    </div>
    

  <div class="testimonial">
    <div class="testimonial-image">
      <img src="assets/uno.jpg" alt="Image d'avis">
    </div>
    <p> "Formations percutantes, expertise impressionnante."</p>
    <p class="author">- Paul </p>
  </div>

 <br>

  <div class="testimonial">
   
    <div class="testimonial-image">
      <img src="assets/dos.jpg" alt="Image d'avis">
    </div>
    <p>"Enrichissement professionnel assuré !"</p>
    <p class="author">- Sophie</p>
  </div>

  <br>

  <div class="testimonial">
    <div class="testimonial-image">
      <img src="assets/tres.jpg" alt="Image d'avis">
    </div>
    <p>"Compétences décuplées, formateurs au top."</p>
    <p class="author">- Alex </p>
  </div>

  <br>

  <div class="testimonial">
    <div class="testimonial-image">
      <img src="assets/cinco.jpg" alt="Image d'avis">
    </div>
    <p> "Équipe boostée, merci IT-Training !"</p>
    <p class="author">- Marc </p>
  </div>
<br>

  <div class="testimonial">
    <div class="testimonial-image">
      <img src="assets/quatro.jpg" alt="Image d'avis">
    </div>
    <p>"IT-Training, mon atout carrière secret."</p>
    <p class="author">- Laura </p>
  </div>
<br>

  <div class="testimonial">
    <div class="testimonial-image">
      <img src="assets/quatro.jpg" alt="Image d'avis">
    </div>
    <p>"Une formation qui transforme vraiment!"</p>
    <p class="author">- Sandra </p>
  </div>



</div>


</div>














<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<div class="partners">
  <div *ngFor="let partner of partners" class="partner-item">
    <img [src]="partner.imageUrl" alt="{{ partner.name }}">
  </div>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>


