
<section class="accueil">
    <div class="accueil-image">
      <img class="image-accueil responsive-image" src="assets/naccueil.png" alt="Image d'accueil">
    </div>
  </section>
  <section>
    <img src="assets/somme.png" alt="somme" class="image-responsive">
  </section> 
  <ul>
    <li *ngFor="let specialite of specialites">{{ specialite.nom }}</li>
  </ul>
  <section class="accueil">
    <div class="grid-container">
      <a routerLink="/page1" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 1">
      </a>
      <a routerLink="/page2" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 2">
      </a>
      <a routerLink="/page3" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 3">
      </a>
      <a routerLink="/page4" class="grid-item">
        <img src="assets/domaine1.png" alt="Image 4">
      </a>
    </div>

  </section>
  
  