.header {
    background-color: #007bff; /* Nuance de bleu */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .logo {
      margin-right: 10px;
      img {
        height: 40px; /* Ajustez la taille de votre logo */
      }
    }
  
    .search-bar {
      flex: 1;
      input {
        padding: 8px;
        width: 100%;
        border: none;
        border-radius: 20px; /* Bordures arrondies pour un style plus moderne */
        font-size: 16px;
        background-color: #f0f4f8; /* Couleur de fond gris clair pour le champ de recherche */
        color: #333; /* Couleur du texte */
        outline: none;
  
        &::placeholder {
          color: #999; /* Couleur du texte de l'indication de placeholder */
        }
      }
    }
  
    .nav-links {
      display: flex;
      align-items: center;
  
      a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3; /* Nuance de bleu plus sombre au survol */
        }
  
        & + a {
          margin-left: 20px; /* Marge entre les liens */
        }
      }
    }
  
    .user-link {
      margin-left: auto;
  
      a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #0056b3; /* Nuance de bleu plus sombre */
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #003b80; /* Nuance de bleu encore plus sombre au survol */
        }
      }
    }
  }
  