
<head>
  <meta charset="utf-8">
  <title>ITTrainingFront</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


  <nav class="navbar">
    <div class="navbar-logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
    <label for="navbar-toggle" class="navbar-toggle-label"><i class="fa fa-bars"></i></label>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="#" style="color: white; text-decoration: none;"><i class="fa fa-home" style="color: white;"></i> Accueil</a></li>
      <li class="navbar-item"><a href="#" style="color: white; text-decoration: none;"><i class="fa fa-chalkboard-teacher white-icon"></i> Nos formations</a></li>
      <li class="navbar-item">
        <a href="#" style="color: white; text-decoration: none;">
          <i class="fa fa-envelope" style="color: inherit;"></i> Nous contacter
        </a>
      </li>
      <li class="navbar-item navbar-connexion">
        <a href="#" style="color: white; text-decoration: none;"><i class="fa fa-lock"></i> Connexion</a>
      </li>
    </ul>
  </nav>
  




  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>

























