.navbar {
  background-color: #04549c;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: auto;
}

.navbar-logo img {
  height: 6em;
 width: auto;
 display: inline-block; /* Assurez-vous que le div entoure l'image */
 transform: scale(2.5); /* Augmentez la valeur de scale pour agrandir davantage */
 transform-origin: left;
 }
 
.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-item {
    margin: 5px 0;
  }

  .navbar-connexion {
    margin-top: 10px;
  }

  .navbar-toggle-label {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin-right: 10px;
  }

  .navbar-toggle-label i {
    vertical-align: middle;
  }

  #navbar-toggle:checked ~ .navbar-menu {
    display: flex;
  }
}
