
  <title>Page de Formation</title>
 
<body>
  <div class="container">
    <div class="image-section">
      <img src="assets/java.jpg" alt="Image de la formation">
  <br>

      <div>     
        <br>
        <strong>  Les bénéfices a suivre la formation java avec IT training : </strong>
        <br>
        <br>
        <strong> Apprentissage Complet : </strong>   Notre formation Java couvre tous les aspects essentiels, du langage de base aux concepts avancés de programmation orientée objet.
        <br>
        <strong> Expérience Pratique : </strong> Les participants auront l'occasion de mettre en pratique leurs connaissances à travers des projets concrets, renforçant ainsi leur compréhension.
       <br>
       <strong> Encadrement Expert :</strong> Nos formateurs expérimentés sont là pour répondre aux questions et fournir des conseils personnalisés tout au long du parcours d'apprentissage.
        <br>
        <strong>  Flexibilité Horaires :</strong> Notre formation en ligne offre une flexibilité optimale, permettant aux apprenants de suivre les cours à leur propre rythme.
        <br>
        <strong> Certification Reconnue :</strong> Après avoir réussi la formation, les participants recevront une certification reconnue qui valorisera leurs compétences auprès des employeurs potentiels.
        <br>
        <strong> Accès au Réseau : </strong>Les apprenants auront accès à notre communauté en ligne où ils pourront interagir avec d'autres passionnés de Java et élargir leur réseau professionnel.


      </div>
<br>
<br>
<br>
<br>
<div> 
  <strong> Prérequis avant de s'inscrire à la formation : </strong>
  Avant de vous inscrire à notre formation Java, il est recommandé d'avoir des connaissances de base en programmation et une compréhension élémentaire des concepts informatiques. Une familiarité avec les concepts de variables, de boucles et de structures de contrôle serait bénéfique. De plus, une connaissance préliminaire des notions de programmation orientée objet serait un atout, bien que cela ne soit pas obligatoire.

<br>
<br>
<br>



</div>

<div>
  <strong>Déroulement de la formation en inter-entreprise: </strong>
Notre formation en inter-entreprise offre une immersion complète dans le monde de la programmation Java. Pendant la première semaine, nous couvrirons les fondamentaux du langage, y compris les variables, les opérateurs et les structures de contrôle. Ensuite, nous plongerons dans les concepts avancés tels que l'héritage, l'encapsulation et le polymorphisme, au cours des semaines suivantes. La troisième phase de la formation se concentrera sur la manipulation des exceptions.

</div>




    </div>
 

    <div class="content-section">
      <select>
        <option value="date1">Date de début 1</option>
        <option value="date2">Date de début 2</option>
        <!-- Ajoutez d'autres options ici -->
      </select>
      <p>Prix : 5000 HT</p>
      <p>   
        <strong> JAVA :</strong> 
        <br>
        Java est un langage de programmation polyvalent et largement utilisé, réputé pour sa portabilité, sa fiabilité et sa sécurité. Il est principalement utilisé pour développer des applications logicielles, des applications mobiles, des sites web dynamiques et bien plus encore. Grâce à sa syntaxe claire et à sa plateforme indépendante, Java est un choix privilégié pour créer des applications qui fonctionnent sur diverses plates-formes et dispositifs.  </p>
        <button class="custom-button">S'inscrire en inter-entreprise</button>
        <br>
        <br>
        <button class="custom-button">S'inscrire en intra-entreprise</button>
        <br>
        <br>
        <button class="custom-button">Sur mesure</button>
    </div>
  </div>







</body>
