
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .image-section {
    flex: 2; // elargie a la base cetait 1
    padding: 20px;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  .content-section {
    flex: 1; 
    padding:20px;
    background-color: #f2f2f2;
  }
  
  .content-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .content-section p {
    margin-bottom: 10px;
  }
  
  .custom-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: darkblue;
  }
  
  /* Ajouter des animations */
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .content-section p {
    animation: fadeInOut 1s ease-in-out;
  }